---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <div class="container">
      <Hero />
    </div>
    <div class="divider" style="margin: 0 48px;"></div>
    <Marquee />
    <About />
  </main>
  <Footer />
</Base>

<style>
  .divider {
    height: 2px;
    background: var(--line);
  }
</style>
